<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Super Team Picker</title>
    <%- include("./partials/include") %>
</head>
<body>
    <%- include("./partials/nav") %>
    <h1>Home</h1>
</body>
</html>
