<nav class="navbar navbar-expand navbar-primary bg-white">
    <a class="navbar-brand" href="/" style="pointer-events: none; cursor: default;">Super Team Picker</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <li class="nav-item" id="homeNavItem">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item" id="cohortsNavItem">
                <a class="nav-link" href="/cohorts">Cohorts</a>
            </li>
            <li class="nav-item" id="newCohortNavItem">
                <a class="nav-link" href="/cohorts/new">New Cohort</a>
            </li>
        </ul>
    </div>
</nav>
